@model Filmellato.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "Mentés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6">
            @using (Html.BeginForm("Save", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                //Validacios uzenet az oldal tetejen
                @Html.ValidationSummary(true, "Kérlek javítsd ki a következő hibákat:");

                <div class="form-group">
                    @Html.LabelFor(m => m.Name, "Név:")
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Director, "Rendező:")
                    @Html.TextBoxFor(m => m.Director, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Director)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ReleaseDate, "Bemutatás dátuma:")
                    @Html.TextBoxFor(m => m.ReleaseDate, Model.ReleaseDate.Value.ToString("yyyy-MM-dd"), new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.ReleaseDate)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LengthInMinutes, "Hossz percben megadva:")
                    @Html.TextBoxFor(m => m.LengthInMinutes, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.LengthInMinutes)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.GenreId, "Fajta:")
                    @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "GenreName"), "Válaszd ki a film fajtáját", new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.GenreId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ShortDescription, "Rövid leírás:")
                    @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.ShortDescription)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NumberInStock, "Elérhetőség:")
                    @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.NumberInStock)
                </div>

                <div class="form-group">
                    <label for="file">Fénykép feltöltése (ajánlott: 1200x800, maximum 1MB)</label>
                    <input type="file" name="ImagePath" />
                </div>

                //Rejtett mezo a MovieId szamara
                @Html.HiddenFor(m => m.Id)

                //CSRF
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary">Mentés</button>
            }
        </div>
    </div>
</div>


@section Scripts
{
    @*Ezzel a scriptel engedelyezzuk a kliens oldali validaciot*@
    @Scripts.Render("~/bundles/jqueryval")
}

