@using Filmellato.Models;
@model Filmellato.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Mentés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6">
            <h2>@Model.Title</h2>

            @using (Html.BeginForm("Save", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                //Validacios uzenet az oldal tetejen
                @Html.ValidationSummary(true, "Kérlek javítsd ki a következő hibákat:");

                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.Name, "Név:")
                    @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Customer.Name)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.BirthDate, "Születési idő:")
                    @Html.TextBoxFor(m => m.Customer.BirthDate, Model.Customer.BirthDate.Value.ToString("yyyy-MM-dd"), new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Customer.BirthDate)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.Address, "Cím:")
                    @Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Customer.Address)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.Email, "E-mail:")
                    @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Customer.Email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.PhoneNumber, "Telefonszám:")
                    @Html.TextBoxFor(m => m.Customer.PhoneNumber, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Customer.PhoneNumber)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.IdentityCard, "SZIG. szám:")
                    @Html.TextBoxFor(m => m.Customer.IdentityCard, new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Customer.IdentityCard)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.MembershipTypeId, "Tagság típusa:")
                    @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipName"), "Válaszd ki a tagságot", new { @class = "form-control" })

                    @*Validacios hibauzenet helytarto*@
                    @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
                </div>

                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Feliratkoztatás a hírlevélre
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Customer.IsBlocked) Ügyfél blokkolása
                    </label>
                </div>

                <div class="form-group">
                    <br />
                    <label for="file">Fénykép feltöltése (ajánlott: 512x512, maximum 1MB)</label>
                    <input type="file" name="ImagePath" />
                </div>

                //Rejtett mezo a CustomerId szamara
                @Html.HiddenFor(m => m.Customer.Id)

                //CSRF
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary">Mentés</button>
            }
        </div>
    </div>
</div>

@section Scripts
{
    @*Ezzel a scriptel engedelyezzuk a kliens oldali validaciot*@
    @Scripts.Render("~/bundles/jqueryval")
}
