<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Filmellátó</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="top">

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("CanManageMovies"))
        {
            @Html.Partial("_NavBarAdmin")
        }
        else
        {
            @Html.Partial("_NavBar")
        }
    }
    else
    {
        @Html.Partial("_NavBarNonAuthorized")
    }
    <div class="container body-content">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
